@import "global.css";
@import "../styles.css";

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container .content {
    width: 400px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 20px;
    background: #f3f3f3;
}

.content h2 {
    margin-bottom: 20px;
    text-align: center;
}

.content form .label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
}
.content form > div {
    margin-bottom: 10px;
}

.content form > div:last-child {
    margin-bottom: 0;
}

.content form > div input, .content form select {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding-bottom: 2px;
    background: none;
}

.content form textarea {
    width: 100%;
    height: 150px;
    max-height: 300px;
    resize: vertical;
    background: none;
}

.content form button[type="submit"] {
    margin-left: 210px;
    width: 150px;
    background-color: #463940;
    color: white;
    cursor: pointer;
    border-style: none;
    padding: 10px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    outline: none;
}