@import "global.css";

.wrapper {
    margin: 0 auto;
    padding: 30px 60px 0;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.top > div {
    display: flex;
    align-items: center;
}

.top > div h1 {
    margin-right: 25px;
}

.top > div a {
    text-decoration: none;
    color: black;
    padding: 3px 7px;
    border: 1px solid transparent;
    cursor: pointer;
}

.top > div a:hover {
    border: 1px solid black;
    border-radius: 3px;
}

.left-side {
    border-right: 1px solid grey;
    flex: 2;
    padding: 25px;
}

.month-title,
.hint {
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid grey;
    width: calc(100%/7);
}

th {
    height: 40px;
    background: #f3f6f7
}

td {
    vertical-align: baseline;
    height: calc(100vh / 6.5);
}

td:hover {
    background-color: #edf4f552;
    cursor: pointer;
    transform: scale(1.001);
}

.day-number {
    display: flex;
    justify-content: flex-end;
    padding: 2px 5px;
    font-size: 18px;
}

.right-side {
    width: 25%;
    padding-top: 25px;
    background-color: #f3f6f7;
}

.note p {
    margin: 3px;
}

.note > p {
    display: flex;
    align-items: center;
}

.name {
    font-weight: bold;
    font-size: 15px;
    padding-left: 5px; 
}

.time {
    color: #666666;
    font-size: 13px;
    font-weight: bold;
    padding-right: 5px; 
}

a {
    color: black;
    text-decoration: none;
}
